@mixin sliderButton {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: rgba(#fff, .6);
    border-radius: 30px;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;

    svg {
        font-size: 3rem;
        color: #fff;
    }

    &:hover {
        opacity: .83;
    }
}

.slider-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

.next-styles {
    @include sliderButton();
    right: 3rem;

}

.prev-styles {
    @include sliderButton();
    left: 3rem;
}

.img-styles {
    height: 100%;
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page-bullets-styles {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index:  999;

    button {
        cursor: pointer;
        background-color: #FFF;
        border: 5px solid #fff;
        padding: 1rem;
        margin: 1rem;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        outline: none;
        opacity: 0.83;
        transition: all .2s ease-in-out;

        &.active-styles {
            background-color: transparent;
        }

        &:hover {
            opacity: .6;
        }
    }
}