.footer-styles {
    padding: 5rem 0;
    background-color: var(--footer-background);
    color: var(--footer-font);
}

.row-styles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .col-styles {
        min-width: 15rem;

        h3 {
            margin-bottom: 2rem;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: .5rem;

                a {
                    text-decoration: none;
                    color: var(--footer-link);
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }
}