.services-styles {
    scroll-margin-top: 8rem;
    background-color: var(--first-service);
    padding: 8rem 0;
}

.heading-styles {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
    }

}
.illu-styles {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
    transform: scaleY(-1);

    @media all and (max-width: 768px) {
        margin-bottom: 5rem;
    }

    &-bottom {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 8rem;
        transform: scaleY(-1);

        @media all and (max-width: 768px) {
            margin-bottom: 5rem;
        }
    }

}


.services-container-styles {
    display: flex;
    justify-content: space-evenly;

    @media all and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    } 
}

@mixin serviceImgStyles {
    cursor: pointer;
    width: 15rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto 2rem;

    @media all and (max-width: 768px) {
    width: 10rem;
    height: 10rem;
        @media all and (max-width: 480px) {
            width: 8rem;
            height: 8rem;
        } 
    }
}

.service-styles {
    .service-img-styles {
        @include serviceImgStyles();
        border: 5px solid #fff;
        transition: all 0.3s ease-in-out;

        
        &-active {
            @include serviceImgStyles();
            border: 5px solid   #816E67;
            transition: all 0.3s ease-in-out;

        }
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;

        @media all and (max-width: 768px) {
            font-size: 2rem;

            @media all and (max-width: 480px) {
                font-size: 1.6rem;
            } 
        }
    }

    @media all and (max-width: 480px) {
        margin-bottom: 2rem;
    } 

}

@mixin descStyles {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        margin: 0 auto;
        text-align: center;
        max-width: 70rem;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 5rem;
        transition: all .3s ease-in-out;

        @media all and (max-width: 768px) {
            width: 100%;
            max-width: 80%;

            @media all and (max-width: 480px) {
            } 
        }
}

.description-styles {
    position: relative;
    height: 40rem;
    @media all and (max-width: 375px) {
        height: 50rem;

    } 

    .desc-styles {
        @include descStyles();
        opacity: 0;
        visibility: hidden;

        &-active {
            @include descStyles();
            opacity: 1;
            visibility: visible;
        }
    }
}