.services-styles {
    scroll-margin-top: 8rem;

  
    .container-styles {
        padding: 8rem 0 12rem;
        background-color: var(--first-service);

        .illu-styles {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 8rem;

            @media all and (max-width: 768px) {
                margin-bottom: 5rem;
            }
    

            @media all and (max-width: 480px) {
                margin-bottom: 2rem;
            } 

            &:last-child {
                transform: scaleY(-1);

                @media all and (max-width: 768px) {
                    margin-bottom: 5rem;
                }
        

                @media all and (max-width: 480px) {
                    margin-bottom: 2rem;
                } 
            }
        }
        
        .row-styles {
            display: flex;
            align-items: center;
        
            .col-styles {
                width: 40%;
                font-size: 2rem;
                position: relative;

                .outline-styles {
                    position: absolute;
                    border: var(--img-offset-border);
                    top: 3rem;
                    right: -3rem;
                    width: 100%;
                    height: 100%;
                }

                h2 {
                    font-size: 2.5rem;
                    font-weight: bold;
                    margin-bottom: 3rem;
                }

                &:last-child {
                    width: 60%;
                    margin-left: 6rem;
                }
            }

            @media all and (max-width: 768px) {
                flex-direction: column-reverse;
                text-align: center;

                .col-styles {
                    width: 80%;

                    .outline-styles {
                        position: absolute;
                        border: var(--img-offset-border);
                        top: 2rem;
                        right: -3rem;
                        width: 100%;
                        height: calc(100% + 1rem)
                }

                    &:last-child {
                        padding: 0 3rem;

                        width: 100%;

                        margin-bottom: 5rem;
                        margin-left: 0;
                    }
                }

                @media all and (max-width: 480px){
                    .col-styles {
                        &:last-child {

                            padding: 0 1rem;
                        }
                    }
                }
            }
        }

        &:last-child {
            background-color: var(--second-service);

            .illu-styles {
                margin-top: 8rem;
                margin-bottom: 0;

            
            }

            .row-styles {
                display: flex;
                flex-direction: row-reverse;
                padding-right: 3rem;
                text-align: right;


                .col-styles {
                    &:last-child {
                        margin-left: 0;
                        margin-right: 6rem;
                    }
                }
                @media all and (max-width: 768px) {
                    flex-direction: column-reverse;
                    text-align: center;
                    padding-right: 0;
    
                    .col-styles:last-child {
                        margin-bottom: 5rem;
                        margin-right: 0;
                    }
                }
            }

        }
    }
}




