.services-styles {
  
    .container-styles {
        padding: 10rem 0;
        background-color: var(--first-service);

        .illu-styles {
            width: 45%;
            height: 8rem;
            background-color: #888;
            margin: 0 auto;
            margin-bottom: 10rem;
        }
        
        .row-styles {
            display: flex;
            align-items: center;
        
            .col-styles {
                width: 40%;
                font-size: 2rem;
                position: relative;

                .outline-styles {
                    position: absolute;
                    border: var(--img-offset-border);
                    top: 2rem;
                    left: 2rem;
                    width: 100%;
                    height: 100%;
                }

                h2 {
                    margin-bottom: 3rem;
                }

                &:last-child {
                    width: 60%;
                    margin-left: 6rem;
                }
            }

            @media all and (max-width: 768px) {
                flex-direction: column-reverse;
                text-align: center;

                .col-styles {
                    width: 80%;
                    padding: 0 1rem;

                    &:last-child {
                        width: 100%;

                        margin-bottom: 5rem;
                        margin-left: 0;
                    }
                }

            }
        }

        &:last-child {
            background-color: var(--second-service);

            .illu-styles {
                margin-top: 10rem;
                margin-bottom: 0;
            }

            .row-styles {
                display: flex;
                flex-direction: row-reverse;
                padding-right: 2rem;
                text-align: right;


                .col-styles {
                    &:last-child {
                        margin-left: 0;
                        margin-right: 6rem;
                    }
                }
                @media all and (max-width: 768px) {
                    flex-direction: column-reverse;
                    text-align: center;
    
                    .col-styles:last-child {
                        margin-bottom: 5rem;
                        margin-right: 0;
                    }
                }
            }

        }
    }
}




