.partners-styles {
    scroll-margin-top: 16rem;
    padding: 8rem 0;
    background-color: #fff;
}

.container-styles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media all and (max-width: 768px) {
        flex-direction: column;
    }


    .partner-styles {
        width: 20rem;

        @media all and (max-width: 768px) {
            width: 15rem;

            &:not(:last-child) {

                margin-bottom: 8rem;
            }
        }



        &:nth-child(2) {
            width: 30rem;

            @media all and (max-width: 768px) {
                width: 25rem;
            }
        }
    }
}