@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');

@import url('../../styles/_variables.scss');



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media all and (max-width: 768px) {

    font-size: 60%;

    @media all and (max-width: 480px) {
      font-size: 58%;
    }
  }

}

body {
  font-size: 1.6rem;
  font-family: 'Sora', sans-serif;
  color: var(--font-primary);
  background-color: #fff;
  line-height: 1.5;
}


main {
  margin-top: 8rem;
}

.container {
  max-width: 115rem;
  margin: 0 auto;
}

.active {
  background-color: transparent !important;
}

#popis-sluzieb {
  scroll-margin-top: 8rem;
  transition: all 1s ease-in-out;
  height: 100%;
}