.service-icon {
    cursor: pointer;
    width: 12rem;

    .image-container {
        border: 3px solid var(--primary-color);
        border-radius: 50%;
        padding: .5rem;
        overflow: hidden;
        opacity: .5;
        margin-bottom: 1.5rem;
        transition: opacity .3s ease-out;
    }

    &:hover {
        .image-container {
            opacity: 1;
        }
    }

    .title {
        text-align: center;
        font-weight: 700;
        font-family: ‘Dancing Script’,
            cursive;
    }
}

.active {
    .image-container {
        opacity: 1;
    }
}