:root {
    --primary-color: #504743;
    --menu-link: #504743;
    --menu-link-hover: #808080;
    --font-primary: #816E67;
    --footer-background: #504743;
    --footer-font: #fff;
    --footer-link: #fff;
    --first-service: #F2EEE9;
    --second-service: #E7E2DC;

    --cta: #fff;
    --cta-bg: #816E67;

    --input-border-bottom: 1px solid #F2EEE9;

    --img-offset-border: 10px solid #fff;
}